*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    background-color: rgb(24, 21, 21);
    border: 1px solid white;
    height: 93vh;
    margin: 20px;
    padding-bottom: 20px;
}

.head{
    padding: 30px;
    color: white;
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 40px;
}
.job{
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    list-style-type: none;
    padding-top: 40px;
}
li{
    margin-bottom: 12px;
}
li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition:color ease-in-out 0.12s;
}
li a:hover{
    color: rgba(214, 227, 214, 0.401);
    cursor: pointer;
}
.onee{
    margin-top: 8px;
}
._dot1,._dot2,._dot3,._dot4,._dot5{
    display: none;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 70px;
}
.info-about-me{
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 150px;
}
.info-about-me p{
    line-height: 1.2;
}
@media (min-width:344px) {
    .info{
        margin-top: 168px;
    }
}
@media (min-width:360px) {
    .info{
        margin-top: 80px;
    }
}
@media (min-width:375px) {
    .info{
        margin-top: 25px;
    }
}
@media (min-width:390px) {
    .info{
        margin-top: 180px;
    }
}
@media (min-width:412px) {
    .info{
        margin-top: 245px;
    }
}
@media (min-width:414px) {
    .info{
        margin-top: 220px;
    }
}
@media (min-width:430px) {
    .info{
        margin-top: 265px;
    }
}
@media (min-width:480px)   {
    .info{
        margin-top:1050px;
    }
}
@media (min-width:481px) and (max-width:767px) {
    .info{
        margin-top:70px;
    }
}

@media (min-width:768px) and (max-width:991px){
    .info{
        margin-top: 360px;
    }
}
@media (min-width:820px) {
    .info{
        margin-top: 480px;
    }
}
@media (min-width:853px) {
    .info{
        margin-top: 580px;
    }
}
@media (min-width:912px) {
    .info{
        margin-top: 620px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .info{
        margin-top: -25px;
    }
}

@media (min-width:1200px) and (max-width:1919px){
    .info{
        margin-top: 135px;
    }
}

@media (min-width:1920px){
    .info{
        margin-top:140px;
    }
}

